.cauldron {
}
.cauldron #Fire {
  transform: translateX(100px);
}
.fire {
  animation: burn 1s ease infinite alternate;
  /* transform: translateX(100px); */
}

@keyframes burn {
  0% {
    transform: scaleX(1) scaleY(1) translate(0%, 0%);
  }

  100% {
    transform: scaleX(0.9) scaleY(1.1) translate(6%, -8%);
  }
}
.stick {
  animation: move 3s ease infinite alternate;
}

@keyframes move {
  0% {
    transform: translate3d(0, 15px, 0);
  }
  100% {
    transform: translate3d(30px, 0px, 0);
  }
}

.smoke1 {
  animation: rise1 2s ease-out infinite;
}

@keyframes rise1 {
  0% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate3d(0px, -70px, 0);
    opacity: 0;
  }
}

.smoke2 {
    opacity: 0;
    animation: rise2 2s ease-out .7s infinite;
  }
  
  @keyframes rise2 {
    0% {
      transform: translate3d(0px, 0px, 0px);
      opacity: 1;
    }
    100% {
      transform: translate3d(0px, -70px, 0);
      opacity: 0;
    }
  }