.container {
  background: black;
}

.content {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 15vh;
  padding-bottom: 2rem;
}

.left{
  padding: 2rem 0 0 0;
}
.right {

  color: white;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem 0 2rem 0;
}

.right > li {
  height: 2rem;
  width: 2rem;
}


@media (min-width: 768px) {
  .left {
    display: flex;
    flex: 3;
    padding: 0;
  }

.right {
  flex: 1;
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}
  .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}
